*{
    font-family: 'Arima Madurai', cursive;
}
.tabla{
    width: 100%;
 }
 th, td {
    width: 25%;
    text-align: left;
    border-collapse: collapse;
    border: 1px solid black; 
    text-align: center;
    vertical-align:middle;
 }

img {
    height: 500px;
  }
h1{
    text-align: center;
    font-size: 60px;
}
td{
    font-size: 33px;
}
th{
    font-size: 40px;
}
